---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.image %}
        <img src="{{site.baseurl}}/img/{{ post.image }}" alt="{{ post.alt }}">
        {% endif %}
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <p class="snippet">{% if post.snippet %}{{ post.snippet }}{% endif %}</p>
        <p class="post-details">Written by {% if post.author %}{{ post.author }}{% endif %} <span class="post-meta">on {{ post.date | date: "%b %-d, %Y" }}</span></p>
      </li>
    {% endfor %}
  </ul>

</div>
