//@font-face {
//    font-family: 'gotham_boldregular';
//    src: url('/fonts/botham-Bold-webfont.eot');
//    src: url('/fonts/botham-Bold-webfont.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/botham-Bold-webfont.woff2') format('woff2'),
//         url('/fonts/botham-Bold-webfont.woff') format('woff'),
//         url('/fonts/botham-Bold-webfont.ttf') format('truetype'),
//         url('/fonts/botham-Bold-webfont.svg#gotham_boldregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}




@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/botham-Book-webfont.eot');
    src: url('../fonts/botham-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/botham-Book-webfont.woff2') format('woff2'),
         url('../fonts/botham-Book-webfont.woff') format('woff'),
         url('../fonts/botham-Book-webfont.ttf') format('truetype'),
         url('../fonts/botham-Book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




//
//@font-face {
//    font-family: 'gotham_mediumregular';
//    src: url('/fonts/botham-Medium-webfont.eot');
//    src: url('/fonts/botham-Medium-webfont.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/botham-Medium-webfont.woff2') format('woff2'),
//         url('/fonts/botham-Medium-webfont.woff') format('woff'),
//         url('/fonts/botham-Medium-webfont.ttf') format('truetype'),
//         url('/fonts/botham-Medium-webfont.svg#gotham_mediumregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}

@font-face {
    font-family: 'texgyrescholaregular';
    src: url('../fonts/texgyreschola-regular-webfont.eot');
    src: url('../fonts/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-regular-webfont.svg#texgyrescholaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'texgyrescholabold';
    src: url('../fonts/texgyreschola-bold-webfont.eot');
    src: url('../fonts/texgyreschola-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bold-webfont.svg#texgyrescholabold') format('svg');
    font-weight: normal;
    font-style: normal;

}